[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"
twine = "*"

[packages]
bs4 = "*"
requests-html = "*"

[requires]
python_version = "3"
